.home {
    background-image: url('../../assets/images/coco-cay.jpg');
    background-size: cover;
    *{
    padding: 0;
    margin: 0;}

    &__h1 {
        color: white;
        font-size: xx-large;
        font-weight: bold;
        width: 50%;
        padding: 2rem;
        text-shadow: 2px 2px black;
    }

    &__button {
        border: none;
        padding: .5rem 1rem;
        border-radius: 1.25rem;
        margin: 1rem 2rem;
        background-color: rgba(249, 206, 116, 1);
        box-shadow: 3px 3px white;
    }
}