@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $white;
}

.onboarding {
  padding: 2rem;
  &__link {
    text-decoration: none;
  }
  &__title {
    font-family: "Montserrat";
    text-align: left;
    color: black;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 30px;
  }
  &__question {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    font-family: "Montserrat";
  }
  &__container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__container-secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__button-option {
    font-family: "Montserrat";
    border-radius: 100px;
    border: solid 2px #9ba0bb;
    margin: 5px 6px;
    padding: 10px;
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    color: #384378;
    &--selected {
      border-color: #2551aa;
      background-color: #384378;
      color: $white;
    }
  }
  &__buttons {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__button-continue {
    background-color: #f4bc44;
    color: #384378;
    padding: 10px;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    font-family: "Montserrat";
  }
  &__button-skip {
    background-color: white;
    margin-top: 1.25rem;
    color: #384378;
    padding: 10px;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    font-family: "Montserrat";
  }
  &__chat {
    width: 57px;
    height: 63px;
  }
}
